<nav class="flex w-[60%] m-auto text-white bg-purple-800">
  <h1 class="font-bold cursor-pointer py-8 px-10" [routerLink]="['/']">
    MY BLOG
  </h1>
  <div class="flex ml-auto">
    <p
      *ngIf="auth.isAuthenticated; else notAuthenticated"
      class="cursor-pointer py-8 px-10"
      [routerLink]="['/create-post']"
      [class.bg-gray-200]="router.url === '/create-post'"
      [class.bg-purple-800]="router.url !== '/create-post'"
    >
      Create post
    </p>
    <p
      *ngIf="auth.isAuthenticated"
      (click)="logOut()"
      class="cursor-pointer py-8 px-10"
    >
      Logout({{ auth.username }})
    </p>
  </div>
  <ng-template #notAuthenticated>
    <p
      class="cursor-pointer py-8 px-10"
      [routerLink]="['/login']"
      [class.bg-gray-200]="router.url === '/login'"
      [class.bg-purple-800]="router.url !== '/login'"
    >
      Login
    </p>
    <p
      class="cursor-pointer py-8 px-10"
      [routerLink]="['/signup']"
      [class.bg-gray-200]="router.url === '/signup'"
      [class.bg-purple-800]="router.url !== '/signup'"
    >
      Signup
    </p>
  </ng-template>
</nav>
