<nav class="block md:flex w-[60%] m-auto text-white bg-purple-800">
  <h1
    class="font-medium text-2xl italic cursor-pointer py-8 px-10"
    [routerLink]="['/']"
  >
    Tips for a happier life<span class="not-italic"> 😎</span>
  </h1>
  <div class="ml-auto block md:flex">
    <p
      *ngIf="auth.isAuthenticated; else notAuthenticated"
      class="cursor-pointer py-6 px-10"
      [routerLink]="['/create-post']"
      [class.bg-gray-200]="router.url === '/create-post'"
      [class.bg-purple-800]="router.url !== '/create-post'"
    >
      Create post
    </p>
    <p
      *ngIf="auth.isAuthenticated"
      (click)="logOut()"
      class="cursor-pointer py-6 px-10"
    >
      Logout({{ auth.username }})
    </p>
  </div>
  <ng-template #notAuthenticated>
    <p
      class="cursor-pointer py-8 px-10"
      [routerLink]="['/login']"
      [class.bg-gray-200]="router.url === '/login'"
      [class.bg-purple-800]="router.url !== '/login'"
    >
      Login
    </p>
    <p
      class="cursor-pointer py-8 px-10"
      [routerLink]="['/signup']"
      [class.bg-gray-200]="router.url === '/signup'"
      [class.bg-purple-800]="router.url !== '/signup'"
    >
      Signup
    </p>
  </ng-template>
</nav>
