<app-header></app-header>
<div class="pb-16"></div>
@if (post.singlePost) {
<div
  class="max-w-sm mx-auto sm:max-w-md md:max-w-lg lg:max-w-xl bg-white shadow-lg rounded-lg overflow-hidden p-6"
>
  <form
    class="flex flex-col m-auto items-center justify-center gap-3"
    #editPost="ngForm"
    (ngSubmit)="editForm()"
  >
    <textarea
      type="text"
      name="title"
      rows="5"
      [ngModel]="post.singlePost.title"
      class="custom-input w-[100%] px-3"
      placeholder="type your title here..."
      required
    ></textarea>
    <textarea
      type="text"
      name="content"
      rows="10"
      [ngModel]="post.singlePost.content"
      class="custom-input w-[100%] px-3"
      placeholder="type your content here..."
      required
    ></textarea>
    <input
      type="file"
      name="file"
      class="self-start"
      ngModel
      required
      (change)="onFileSelected($event)"
    />
    <br />
    <button
      type="submit"
      class="bg-purple-700 disabled:bg-purple-500 rounded-lg p-5 w-60 text-white"
      [disabled]="editPost.invalid"
    >
      Submit
    </button>
  </form>
</div>

}
