<app-header></app-header>
<div class="pb-16"></div>
<div
  *ngIf="errorMessage"
  class="max-w-sm mx-auto sm:max-w-md md:max-w-lg lg:max-w-xl bg-red-100 text-red-700 p-4 rounded-lg mb-4"
>
  <h1>{{ errorMessage }}</h1>
</div>
<div
  class="max-w-sm mx-auto sm:max-w-md md:max-w-lg lg:max-w-xl bg-white shadow-lg rounded-lg overflow-hidden p-6"
>
  <form
    class="flex flex-col justify-center items-center gap-3"
    #signup="ngForm"
    (ngSubmit)="checkSignup()"
  >
    <input
      type="text"
      name="username"
      required
      placeholder="username"
      class="custom-input p-5 w-full"
      ngModel
    />
    <input
      type="password"
      name="password"
      required
      placeholder="password"
      class="custom-input p-5 w-full"
      ngModel
    />
    <button
      type="submit"
      class="bg-purple-700 disabled:bg-purple-500 rounded-lg p-5 w-full text-white"
      [disabled]="signup.invalid"
    >
      Signup
    </button>
  </form>
</div>
