<app-header></app-header>
<div class="pb-16"></div>
<div class="flex flex-col w-[50%] m-auto mt-6 gap-6">
  @for (post of posts.allPosts; track $index) {
  <ul
    class="flex flex-col gap-5 md:flex-row cursor-pointer mb-6"
    [routerLink]="['/post-details', post._id]"
  >
    <li
      class="h-52 w-full flex flex-row items-center space-x-4 p-4 bg-white shadow-md rounded-lg"
    >
      <img
        [src]="posts.imgBaseUrl + post.cover"
        alt="post image"
        class="h-32 w-32 object-cover rounded hidden sm:block"
      />
      <div class="flex flex-col justify-between h-full text-wrap w-[70%]">
        <div class="font-extrabold text-xl truncate">
          {{ post.title | slice : 0 : 50 }}
        </div>
        <div
          class="text-base overflow-hidden"
          style="
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          "
        >
          {{ post.content | slice : 0 : 500 }}
        </div>
        <div class="font-bold text-sm mt-3">
          {{ post.author.username }}
        </div>
        <div class="text-sm text-gray-500">
          {{ post.createdAt | date : "medium" }}
        </div>
      </div>
    </li>
  </ul>
  }
  <app-footer></app-footer>
</div>
