<app-header></app-header>
<div class="pb-16"></div>
<div
  *ngIf="message"
  class="alert alert-success flex flex-col w-[50%] m-auto mt-6 gap-6 bg-green-700 text-white p-4 mb-3 rounded items-center"
>
  {{ message }}
</div>
<div
  class="max-w-sm mx-auto sm:max-w-md md:max-w-lg lg:max-w-xl bg-white shadow-lg rounded-lg overflow-hidden p-6"
>
  <form
    class="flex flex-col justify-center items-center gap-3"
    #login="ngForm"
    (ngSubmit)="checkLogin()"
  >
    <input
      type="text"
      name="username"
      required
      placeholder="Username"
      class="custom-input p-5 w-full"
      ngModel
    />
    <input
      type="password"
      name="password"
      required
      placeholder="Password"
      class="custom-input p-5 w-full"
      ngModel
    />
    <button
      type="submit"
      class="bg-purple-700 disabled:bg-purple-500 rounded-lg p-5 w-full text-white"
      [disabled]="login.invalid"
    >
      Login
    </button>
  </form>
</div>
